# Data structures

### This chapter is all about...
![](images/standard_ds.jpg)

### Some string operations first!
format, strip, split, replace, count...

In [15]:
'1 2a3 4'.split('a')

['1 2', '3 4']

In [3]:
for i in range(10):
    print("Hello Student " + str(i))

Hello Student 0
Hello Student 1
Hello Student 2
Hello Student 3
Hello Student 4
Hello Student 5
Hello Student 6
Hello Student 7
Hello Student 8
Hello Student 9

In [12]:
"{}".format(1)

'1'

In [ ]:
, - +

In [11]:
"{name} is my student {0} {2}".format("shivam", 1, 2, name = "jatin")

'jatin is my student shivam 2'

In [16]:
"abcdef".replace("de", "jatin")

'abcjatinf'

In [17]:
"aaabbbcccddd".count("a")

3

## 1. Lists

A list is a data structure that holds an ordered collection of items i.e. you can store a sequence of items in a list.


The list of items should be enclosed in square brackets so that Python understands that you are specifying a list. Once you have created a list, you can add, remove or search for items in the list. Since we can add and remove items, we say that a list is a mutable data type i.e. this type can be altered.

### Creating lists

In [18]:
a = [1, 2.5, "jatin", print]

In [19]:
for i in a:
    print(i)

1
2.5
jatin
<built-in function print>

In [20]:
len(a)

4

In [25]:
a[3]("hello")

hello

In [26]:
a = [1, 2, 3]

In [27]:
b = [4, 5, 6]

In [28]:
a + b

[1, 2, 3, 4, 5, 6]

In [29]:
[1, 2, 3] * 6

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [30]:
a

[1, 2, 3]

In [33]:
a = 34567
b = 34567
print(a is b)
print(a == b)

False
True

1 2 3 4 5

In [34]:
a = input().split(' ')

1 2 3 4 5

In [35]:
a

['1', '2', '3', '4', '5']

In [36]:
for i in range(len(a)):
    a[i] = int(a[i])

In [37]:
a

[1, 2, 3, 4, 5]

### Basic operations
![](images/list_oper.png)

In [38]:
a = [1, 2, 3, 4, 5, 6]

In [43]:
a[-3]

4

In [48]:
s = 'PytHOn'

In [49]:
for i in range(-1, -(len(s) + 1), -1):
    if s[i].isupper():
        print(s[i])
        break

O

### Indexing and list slicing

![](images/indexing.png)

### Updating the list

- insert

- append

In [50]:
a = [1, 2, 3, 4, 5]

In [51]:
a.append(6)

In [52]:
a

[1, 2, 3, 4, 5, 6]

In [53]:
a.insert(2, 'jatin')

In [54]:
a

[1, 2, 'jatin', 3, 4, 5, 6]

### Deleting list elements

- del
- pop
- remove

In [57]:
a = [1, 2, 3, 5]

In [58]:
a.pop(2)

3

In [59]:
a

[1, 2, 5]

In [60]:
a.pop()

5

In [61]:
a

[1, 2]

In [63]:
a.pop()

2

In [70]:
a = [2, 3, 5, 2, 3, 4, 5]

In [71]:
while 2 in a:
    a.remove(2)

In [72]:
a

[3, 5, 3, 4, 5]

In [68]:
a.remove(2)

In [69]:
a

[3, 5, 2, 3, 4, 5]

In [78]:
a = [1, 2, 3, 4]

In [80]:
id(a)

4606961224

In [81]:
a[0] = 100

In [83]:
id(a)

4606961224

In [74]:
b = a

In [75]:
a is b

True

In [76]:
b[2] = 100

In [77]:
a

[1, 2, 100, 4]

In [84]:
def func(a):
    a[0] = 100
    print(a)

In [85]:
a = [1, 2, 3, 4]

In [86]:
func(a)

[100, 2, 3, 4]

In [87]:
a

[100, 2, 3, 4]

### Sorting and reversing

- sort and sorted

- reverse and reversed

In [88]:
a = [5, 2, 3, 4, 1, 7]

In [89]:
sorted(a)

[1, 2, 3, 4, 5, 7]

In [91]:
a.sort()

In [92]:
a

[1, 2, 3, 4, 5, 7]

In [93]:
a = [1, 4, 3, 2, 1]

In [95]:
list(reversed(a))

[1, 2, 3, 4, 1]

In [96]:
a.reverse()

In [97]:
a

[1, 2, 3, 4, 1]

### map, strip and split function (just some utilities when you input a list)

### Printing a list using join

### Challenges
[Lists](https://www.hackerrank.com/challenges/python-lists)

[Find second maximum number in a list](https://www.hackerrank.com/challenges/find-second-maximum-number-in-a-list/)

### And yeah, you can put a list in a list...
![](images/list_in_list.jpeg)

## 2. Tuples

Tuples are used to hold together multiple objects. Think of them as similar to lists, but without the extensive functionality that the list class gives you. One major feature of tuples is that they are immutable like strings i.e. you cannot modify tuples.


Tuples are defined by specifying items separated by commas within an optional pair of parentheses.


Tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection of values i.e. the tuple of values used **will not change**.

In [99]:
a = (1, 2, 3)

In [100]:
print(a)

(1, 2, 3)

In [ ]:
a = False
if (a,):
    print("true")

### List to tuple and tuple to list...

In [101]:
a = [1, 2, 3]

In [104]:
tuple(list(tuple(a)))

(1, 2, 3)

In [107]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Returning multiple values from functions (The returned thing is a tuple!)

In [109]:
a = 5
b = 9

c = a
a = b
b = c

print(a, b)

9 5

In [110]:
a = 5
b = 9

a = a+b
b = a-b
a = a-b

print(a, b)

9 5

In [111]:
a = 5
b = 9

a = a^b
b = a^b
a = a^b

print(a, b)

9 5

In [122]:
c = 5, 9

In [123]:
c

(5, 9)

In [120]:
a, b = b, a

In [121]:
print(a, b)

5 9

In [124]:
a = 5
b = 9
a, b = b, a

In [125]:
print(a, b)

9 5

In [133]:
def addSub(a, b):
    return a+b, a-b

In [134]:
a, b = addSub(5, 6)

In [131]:
a, b

(11, -1)

### But...but I like Lists...

![](images/immutable.jpg)

- **Storage:** In CPython, tuples are stored in a single block of memory, so creating a new tuple involves at worst a single call to allocate memory. Lists are allocated in two blocks: the fixed one with all the Python object information and a variable sized block for the data. 

- **Indexing:** Tuples are faster than lists. Tuples directly reference their elements where as lists have an extra layer of indirection to an external array of pointers.

- **Safety:** It makes your code safer if you “write-protect” data that does not need to be changed. Using a tuple instead of a list is like having an implied assert statement that this data is constant, and that special thought (and a specific function) is required to override that.

In [140]:
s = "nitin"

print(s[::-1] == s)

True

In [141]:
a = [1, 2, 3, 4, 5, 6, 7]

In [142]:
a[::2]

[1, 3, 5, 7]

In [137]:
a[::]

[2, 4, 6]

**is operator**

### Challenge
[Tuples](https://www.hackerrank.com/challenges/python-tuples)

![](images/tuple.jpeg)

## 3. Dictionary

- A dictionary is like an address-book where you can find the address or contact details of a person by knowing only his/her name i.e. we associate keys (name) with values (details). Note that the key must be unique just like you cannot find out the correct information if you have two persons with the exact same name.

- Remember that key-value pairs in a dictionary are not ordered in any manner.

![](images/dict.png)

In [143]:
a = {
    "name": "jatin",
    "lastname": "katyal",
    "college": "IPU"
}

In [144]:
a["name"]

'jatin'

In [147]:
a = {
    (1, 2, 3): "jatin"
}

In [148]:
a[(1, 2, 3)]

'jatin'

### Some important dict methods

- get()
- items()
- keys()
- values()
- clear()

In [149]:
d = {
    "name": "jatin",
    "lastname": "katyal"
}

In [154]:
for key, value in d.items():
    print(key, "=>", value)

name => jatin
lastname => katyal

### And yeah, keys of dict can be any immutable object, so...
<img src="images/dict_tuple.jpg" alt="sets_are_coming" style="width: 300px;"/>

### Challenge

Write a simple Python program which inputs and stores the data about university students as a list of dictioaries.
Your final record structure should look like this:

```
 [
     {
         'roll-no': 1211,
         'name': 'Ravi',
         'branch': 'CSE'
     },
     {
         'roll-no': 202,
         'name': 'Abhishek',
         'branch': 'SE'
     },
     {
         'roll-no': 1202,
         'name': 'Sachin',
         'branch': 'IT'
     }
 ]
 ```

## 4. Sets

<img src="images/sets.jpg" alt="sets_are_coming" style="width:250px;"/>


Sets are unordered collections of simple objects. These are used when the existence of an object in a collection is more important than the order or how many times it occurs.


Using sets, you can test for membership, whether it is a subset of another set, find the intersection between two sets, and so on.

In [169]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7}

In [175]:
a - b

{1, 2}

In [176]:
3 in a

True

In [179]:
for i in a:
    print(i)

1
2
4
1
2
3

In [180]:
a = [1, 2, 4, 1, 2, 3]

In [181]:
a = list(set(a))

In [182]:
a

[1, 2, 3, 4]

args, kwargs and call by object

### Ok...let's end this chapter right here but your tryst with data structures has just begun !!!

![](images/ds.jpg)