In [1]:
def a(s, i=0):
    pass

In [2]:
a?

In [8]:
a = [{"name": "jatin"}, {"name": "bipin"}]

In [6]:
sorted(a, key = lambda x: x["name"])

[1, 2, 3, 4]

In [7]:
sorted?

In [13]:
a = 10

In [14]:
a = 20

In [10]:
def add(a, b):
    print(a+b)

In [11]:
def add(a):
    print(a+5)

In [12]:
add(1, 2)

TypeError: add() takes 1 positional argument but 2 were given

In [ ]:
int add(int a, int b) {}
char add(char a, char b) {}

In [ ]:
name: str
age: int
height: float

# Object oriented programming

![](images/oop.jpg)

- In all the programs we wrote till now, we have designed our program around functions i.e. blocks of statements which manipulate data. This is called the **procedure-oriented way of programming**. 


- There is another way of organizing your program which is to combine data and functionality and wrap it inside something called an object. This is called the **object oriented programming paradigm**. 


- Most of the time you can use procedural programming, but when writing large programs or have a problem that is better suited to this method, you can use object oriented programming techniques.


- Classes and objects are the two main aspects of object oriented programming. A class creates a new type where objects are instances of the class. 

<img src="images/classes.png" alt="oop" style="width:500px;"/>

### A minimal example of a class

In [15]:
class Person:
    pass

In [33]:
type(b)

str

In [18]:
Person()
print(p)

<__main__.Person object at 0x10ab23198>

### Class with a method

> Class methods have only one specific difference from ordinary functions - they must have an extra first name that has to be added to the beginning of the parameter list, but you do not give a value for this parameter when you call the method, Python will provide it. This particular variable refers to the object itself, and by convention, it is given the name self.

In [36]:
class Person:
    name = "jatin"
    lastname = "katyal"
    career = 'SDE'

In [37]:
p1 = Person()

In [39]:
p1.name

'jatin'

In [43]:
class Person:
    def say_hi(self):
        print(self)
        print('Hello, how are you?')

In [44]:
p = Person()

In [46]:
Person.say_hi(p)

<__main__.Person object at 0x10ab149b0>
Hello, how are you?

In [51]:
p.name = "jatin"

In [45]:
print(p)
p.say_hi()

<__main__.Person object at 0x10ab149b0>
<__main__.Person object at 0x10ab149b0>
Hello, how are you?

In [53]:
class A:
    def setat(self):
        self.name = "jatin"

In [54]:
a1 = A()
a2 = A()

In [55]:
a1.setat()

In [57]:
a1.name

'jatin'

In [58]:
a2.name

AttributeError: 'A' object has no attribute 'name'

In [70]:
d = {
    "i": 10,
    "add": lambda a, b, d: a+b+d["i"]
}

In [71]:
d["add"](1, 2, d)

13

In [75]:
class Student:
    def set(self):
        self.name = input()
        self.roll = int(input())
    def get(self):
        print(self.name)
        print(self.roll)

In [76]:
s = Student()

In [77]:
s.set()

jatin
123

In [78]:
s.get()

jatin
123

### The \_\_init\_\_ method

In [79]:
class Person:
    def __init__(self, name):
        self.name = name

    def say_hi(self):
        print('Hello, my name is', self.name)

p = Person('Nikhil')
p.say_hi()

Hello, my name is Nikhil

In [81]:
class Dog:
    kind = 'canine'         # class variable shared by all instances

    def __init__(self, name):
        self.name = name    # instance variable unique to each instance

In [82]:
d1 = Dog('bruno')
d2 = Dog('tuffy')

In [83]:
print(d1.kind)

canine

In [84]:
d2.kind = 'something'

In [85]:
print(d1.kind)
print(d2.kind)

canine
something

In [97]:
class Dog:

#     tricks = []             # mistaken use of a class variable

    def __init__(self, name):
        self.name = name
        self.tricks = []

    def add_trick(self, trick):
        self.tricks.append(trick)

In [96]:
Dog.tricks

['talk', 'fetch', 'chase']

In [87]:
d1 = Dog('bruno')
d2 = Dog('tuffy')

In [89]:
d1.add_trick('talk')

In [90]:
d1.add_trick('fetch')

In [91]:
d2.add_trick('chase')

In [92]:
d1.tricks

['talk', 'fetch', 'chase']

In [93]:
d2.tricks

['talk', 'fetch', 'chase']

In [95]:
d1.tricks is d2.tricks

True

## Inheritance

One of the major benefits of object oriented programming is reuse of code and one of the ways this is achieved is through the inheritance mechanism. Inheritance can be best imagined as implementing a type and subtype relationship between classes.

![](images/inheritance.gif)

In [102]:
class SchoolMember:
    '''Represents any school member.'''
    def __init__(self, name, age):
        self.name = name
        self.age = age
        print('(Initialized SchoolMember: {})'.format(self.name))

    def tell(self):
        '''Tell my details.'''
        print('Name:"{}" Age:"{}"'.format(self.name, self.age), end=" ")


class Teacher(SchoolMember):
    '''Represents a teacher.'''
    def __init__(self, name, age, salary):
        super().__init__(name, age)
        self.salary = salary
        print('(Initialized Teacher: {})'.format(self.name))

    def tell(self):
        super().tell()
        print('Salary: "{:d}"'.format(self.salary))
        
        
class Student(SchoolMember):
    '''Represents a student.'''
    def __init__(self, name, age, marks):
        super().__init__(name, age)
        self.marks = marks
        print('(Initialized Student: {})'.format(self.name))

    def tell(self):
        super().tell()
        print('Marks: "{:d}"'.format(self.marks))

        
t = Teacher('Mr. Ujjwal', 40, 30000)
s = Student('Nikhil', 25, 75)

(Initialized SchoolMember: Mr. Ujjwal)
(Initialized Teacher: Mr. Ujjwal)
(Initialized SchoolMember: Nikhil)
(Initialized Student: Nikhil)

In [103]:
t.tell()

Name:"Mr. Ujjwal" Age:"40" Salary: "30000"

In [104]:
s.tell()

Name:"Nikhil" Age:"25" Marks: "75"

[Mileages](https://economictimes.indiatimes.com/slideshows/auto/17-cars-with-mileage-of-over-25-km/l-in-india/4-maruti-baleno-diesel/slideshow/51709794.cms)

In [109]:
class Car:
    def __init__(self, model, mileage):
        self.model = model
        self.mileage = mileage
    
    def __str__(self):
        return "{} {}".format(self.model, self.mileage)
    
    def __repr__(self):
        return "{}".format(self.model)
    
    def __eq__(self, other):
        return self.mileage == other.mileage

    def __add__(self, other):
        return self.mileage + other.mileage 
    def __call__(self):
        print("I aam running")

In [110]:
c1 = Car('a',2)
c2 = Car('b', 2)

In [111]:
c1()

I aam running

In [107]:
str(c1)

'a 2'

In [108]:
c1 + c2

4

In [118]:
class A:
    x = 10
class B(A):
    pass
class C(B):
    pass
class D(A):
    x = 5
class E(D, C):
    pass

In [119]:
e = E()
print(e.x)

5

In [120]:
E.mro()

[__main__.E, __main__.D, __main__.C, __main__.B, __main__.A, object]

In [127]:
class A:
    __a = 10
    def a(self):
        print(self.__a)

In [128]:
a = A()

In [129]:
a.a()

10

In [133]:
a._A__a

10

![](images/inherit_joke.jpg)

## A simple desktop application!

In [ ]:
from tkinter import *

class Evaluater:
    def __init__(self):
        self.root = Tk()
        self.root.title("Evaluater")
        self.root.minsize(300,100)
        
        self.mylabel = Label(self.root, text="Your Expression:")
        self.mylabel.pack()
        
        self.myentry = Entry(self.root)
        self.myentry.bind("<Return>", self.evaluate)
        self.myentry.pack()
        
        self.res = Label(self.root)
        self.res.pack()
        
        self.root.mainloop()
        
    def evaluate(self, event):
        self.res.configure(text = "Result: " + str(eval(self.myentry.get())))